<p>Hey {{name}},</p>
<p>You just booked a table.</p>
<p>The booking starts on
  <strong>{{date}}</strong>
  and lasts for
  <strong>{{duration}}</strong>
  days</p>
<p>You booked
  <strong>{{seats}}</strong>
  seats at table
  <strong>{{table}}</strong></p>
<p>Your reservation ID: <strong>{{id}}</strong></p>